.alt-badge {
  color: var(--alt-text-clr);
  font-weight: 500;
  border-radius: 25px;
  padding: 4px 10px;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.alt-agreement {
  color: #423ba3;
  background-color: #f0efff;
}
.alt-completed {
  color: #107f57;
  background-color: #ceede1;
}
.alt-progress {
  color: #9d5d11;
  background-color: #f8ede5;
}
.alt-dark {
  color: #232529;
  background-color: #ecedf0;
}

.alt-badge-outline {
  color: #595959;
  border: 1px solid #d3d7d3;
}

.alt-badge-light {
  color: #000000;
  background-color: #ecedf0 !important;
  padding: 5px 15px !important;
  font-size: 10px;
}

// dots
.alt-dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  background-color: #d3d7d3;
}
.alt-dots-dark {
  background-color: #232529 !important;
}
.alt-dots-gray {
  background-color: #ecedf0 !important;
}
.alt-dots-blue {
  background-color: #423ba3;
}
.alt-dots-danger {
  background-color: #e01e5a !important;
}
.alt-dots-green {
  background-color: #31946a !important;
}

// Rectangle shape padge

.rectangle-badge {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--alt-gray-bg-clr);
  display: inline-block;
}
.orange-rectangle {
  background-color: #eda211;
}
.green-rectangle {
  background-color: #22a365;
}
.blue-rectangle {
  background-color: #423ba3;
}
.punk-rectangle {
  background-color: #f96767;
}

// status dots badges
.dot-status-success {
  --color: #2b8657;
  position: relative;
  color: var(--color);
  font-size: 12px;
  left: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color);
    transform: translateY(-50%);
  }
}
.dot-status-secondary {
  --color: #939393;
  position: relative;
  color: var(--color);
  font-size: 12px;
  left: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color);
    transform: translateY(-50%);
  }
}
.dot-status-danger {
  --color: #e22929;
  position: relative;
  color: var(--color);
  font-size: 12px;
  left: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color);
    transform: translateY(-50%);
  }
}

// super star badge

.ratting {
  position: relative;
  background-color: var(--alt-navy-blue);
  color: #ffffff;
  font-size: 12px;
}
