.search_page {
  .alt_header_section {
    background-image: unset !important;
  }
}
.search_hero_section {
  background-color: var(--alt-gray);
  padding-top: 72px;
  padding-bottom: 72px;
}

// switch button css

.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 48px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161d3b;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 5px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(39px);
}

.switch-labels {
  display: flex;
  justify-content: center;
  width: 150px;
}

.switch-labels span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--bs-body-font-family);
  @media (max-width: 576px) {
    font-size: 14px;
  }
}
.for_business {
  justify-content: end;
  margin-right: 16px;
}
.for_freelancer {
  justify-content: start;
  margin-left: 16px;
}
.text-muted {
  color: #232529;
}

.text-dark {
  color: #595959;
}

// search conteiner css

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 300px;
  @media (min-width: 576px) {
    width: 400px;
  }
  @media (min-width: 768px) {
    width: 576px;
  }
  @media (min-width: 992px) {
    width: 650px;
  }
  @media (min-width: 1080px) {
    width: 717px;
  }
}

.search-input {
  border: none;
  padding: 10px 20px;
  flex: 1;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: #ffcc00;
  border: none;
  color: black;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border-radius: 25px;
  position: relative;
  right: 3px;
  @media (max-width: 576px) {
    right: 80px;
    width: 115px;
    flex-shrink: 0;
  }
}

.search-button:hover {
  background-color: #ffdb4d;
}

// tags container css
.tags-container {
  h4 {
    color: #5c5e63;
    font-size: 14px;
    text-transform: capitalize;
    font-family: var(--bs-body-font-family);
    position: relative;
    top: -5px;
    margin-right: 16px;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  span {
    cursor: pointer;
    &:hover {
      color: #161d3b;
      background-color: #ecedf0 !important;
    }
  }
}

.search_result_section_container {
  margin-top: 82px;
  margin-bottom: 40px;
  @media (max-width: 576px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media (max-width: 992px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .buttons_container {
    .check_button {
      .btn-check:checked + .btn {
        background-color: #161d3b;
        color: #fff;
        border: 1px solid #161d3b;
      }
      .btn-check + .btn {
        background-color: #f2f2f2;
        color: #161d3b;
        border: 1px solid #dedede;
        border-radius: 25px;
        padding: 12px 24px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        font-family: var(--bs-body-font-family);
        @media (max-width: 576px) {
          padding: 8px 16px;
          font-size: 12px;
        }
      }
    }
  }
}

.sort_container {
  .sort_dropdown {
    .sort_btn {
      background-color: #f2f2f2;
      color: #161d3b;
      border: 1px solid #dedede;
      padding: 12px 24px;
    }
  }
}

.sidebar_filter_section {
  font-family: var(--bs-body-font-family);
  h3 {
    font-weight: 500;
    color: #202123;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  .sidebar_filter_group {
    padding-bottom: 16px;
    @media (min-width: 1199px) {
      padding-bottom: 24px;
    }
    h5 {
      font-size: 16px;
      font-weight: 600;
      color: #232529;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    .more_btn {
      color: #232529;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      cursor: pointer;

      border: none;
      background-color: transparent;
      transition: ease-in-out 0.3s;
      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }

    .single_check_box {
      margin-bottom: 10px;
      @media (min-width: 1199px) {
        margin-bottom: 18px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .filter_check_input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
      }
      .form_check_label {
        position: relative;
        cursor: pointer;
        &::before {
          content: "";
          -webkit-appearance: none;
          background-color: #ffffff;
          border: 2px solid #d9d9d9;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 10px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 5px;
          border-radius: 5px;
        }
      }
      .filter_check_input:checked + .form_check_label:after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      .filter_check_input:checked + .form_check_label::before {
        background-color: #000000;
        border: 2px solid #000000;
      }
    }
  }
}
.filter_apply_btn_mobile {
  margin-left: auto;
}
// budget range css
.range-slider {
  position: relative;
  width: 100%;
  height: 40px;
}
.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  margin: 0;
  pointer-events: none;
}
.range-slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #ffd700;
  border: none;
  border-radius: 4px;
}
.range-slider input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  background: #ffd700;
  border: none;
  border-radius: 4px;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: all; /* Enable pointer events for the thumbs */
  position: relative;
  top: -4px; /* Adjust to center the thumb */
  z-index: 10;
  border: 3px solid #000;
}
.range-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: all; /* Enable pointer events for the thumbs */
  position: relative;
  top: -4px; /* Adjust to center the thumb */
  z-index: 10;
  border: 3px solid #000;
}
.budget_input_range input[type="text"] {
  width: 100px;
  text-align: center;
  border: 1px solid #d9d9d9;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  padding: 16px;
}
.budget-range input[type="text"]:focus {
  outline: none;
}
.budget_input_range label {
  font-size: 14px;
  font-weight: 500;
  color: #717171;
  margin-top: 10px;
  display: block;
}
.budget_input_range .to {
  font-size: 14px;
  font-weight: 500;
  color: #717171;
  margin-top: 36px;
  display: block;
}

.hidden-content,
.hidden-content-category,
.hidden-content-time {
  display: none;
}

// main_filter_container css
.search_result_section_container {
  .filter_button {
  }
  .sort_button {
  }
}
.main_filter_container {
  h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--alt-gray-light-200);
    span {
      font-weight: 700;
      color: #232529;
    }
  }
}

.single_filter_option {
  background-color: #f9f9f9;
  border-radius: 12px;
  .filter_image {
    img {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }
  .filter_content {
    p {
      font-size: 14px;
      font-weight: 500;
      color: #5c5e63;
    }
    .avater {
      img {
        width: 74px;
        height: 74px;
        border-radius: 50%;
      }
    }
    .btn-alt-outline {
      background-color: var(--alt-navy-blue);
      color: #fff;
      padding-bottom: 5px !important;
      padding: 5px 9px 5px 6px !important;
      line-height: 0 !important;
    }
    .ranking {
      font-size: 14px;
      font-weight: 500;
      top: 1px;
      left: -2px;
    }
    .address {
    }
    .name {
      h4 {
        font-size: 16px;
        font-weight: 500;
        color: #232529;
      }
    }
    .dots {
      width: 5px;
      height: 5px;
      background-color: #dadadb;
      border-radius: 50%;
    }
    .location {
      font-size: 14px;
      font-weight: 500;
      color: #232529;
    }
    .ratign {
      font-size: 14px;
      font-weight: 400;
      color: #595959;
    }
  }
  .bookmakr {
    width: 41px;
    height: 41px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    border: 1px solid #d9d9d9;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 768px) {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  .price {
    span {
      font-size: 24px;
      font-weight: 500;
      color: #232529;
    }
    font-size: 14px;
    font-weight: 500;
    color: #5c5e63;
  }
}
