.timeline {
    border-left: 1px dashed #d9d9d9;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
}
#content ul.timeline{
    list-style: none;
    padding: 0 0 0 32px !important;
    margin: 0;
}
#content ul.timeline h3 {
    font-weight: 500 !important;
    color: #232529 !important;
    font-size: 1rem !important;
    line-height: 20.8px !important;
    margin-bottom: unset;
}
#content ul.timeline h4 {
    font-weight: 400 !important;
    color: #595959 !important;
    font-size: 14px !important;
    line-height: 18.2px !important;
}
#content ul.timeline h5 {
    font-weight: 600 !important;
    color: #232529 !important;
    font-size: 14px !important;
    line-height: 18.2px !important;
    text-decoration: underline !important;
}
#content ul.timeline p {
    font-weight: 500 !important;
    color: #595959 !important;
    font-size: 14px !important;
    line-height: 21px;
    }
#content ul.timeline li.event {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}


.timeline .event {
    padding-bottom: 32px;
    margin-bottom: 32px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}


.timeline .event:after {
    box-shadow: 0 0 0 1px #232529;
    left: -39.2px;
    background: #fff;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    content: "";
    top: 4px;
}


