.business_profile {
  .h-font {
    font-size: 20px !important;
  }
}
.all_project_tags {
  div {
    position: relative;
    @media (min-width: 991px) {
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: var(--alt-gray-light);
        top: 50%;
        transform: translateY(-50%);
        right: -28px;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
.business_update_time {
  position: absolute;
  top: 15px;
  right: 15px;
}

#Members {
  h4 {
    font-size: 20px !important;
    line-height: 24px !important;
    font-family: var(--bs-body-font-family) !important;
    font-weight: 600 !important;
    color: var(--alt-text-clr) !important;
  }
  h6 {
    font-size: 16px !important;
    line-height: 20px !important;
    font-family: var(--bs-body-font-family) !important;
    font-weight: 500 !important;
    color: var(--alt-text-clr) !important;
  }
  p {
    font-size: 14px !important;
    line-height: 18px !important;
    font-family: var(--bs-body-font-family) !important;
    font-weight: 400 !important;
    color: var(--alt-text-gray-clr) !important;
  }
}
