.event_details_page_profile.project_initial_details {
  margin-top: 0 !important;
}

.card_bg {
  background-color: #5c5e63;
  background-image: url("../../assets/images/business-project/card-corner-bg.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 14%;
  background-attachment: scroll;
}
.overview_card {
  font-family: var(--bs-body-font-family);
  h6 {
    color: #5c5e63;
    font-size: 14px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    color: var(--alt-text-clr);
  }
}

.tab_wrapper_section{
  ul{
    margin: 0;
    padding: 0 !important;
    list-style-type: none !important;
    
  }
}
.agreement_card{
  .name{
    h2{
      font-size: 14px !important;
      color: #fff;
      opacity: 0.7;
    }
    p{
      color: #fff;
      font-size: 12px !important;
      opacity: 0.7;
    }
  }
}
.tribe_card_wrapper{
  h4{
    font-size: 12px;
    text-transform: uppercase;
    color: #5C5E63;
  }
  h5{
    font-size: 16px;
    color: var(--alt-text-clr);
    font-weight: 600;
  }
  .accordion{
    .accordion-item{
      border-bottom: none !important;
      margin-bottom: 15px;
      .accordion-header{
        border-bottom: none !important;
      }
      
    }
    .accordion-button{
    
      border-bottom: 0 !important;
      
      &:focus{
        box-shadow: none !important;
      }
      &:not(.collapsed){
        background-color: transparent !important;
      }

    }
  }
}
