.sidebar_single_items{
    h4{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;   
        color: #232529;

    }
    p{
        font-size: 12px;
        line-height: 22px;
        color: #595959;
        font-weight: 400;
    }
}