@media (min-width: 1440px) {
  .container-custom {
    max-width: 1380px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
  }
}


.alt_bdb_header {
  height: 72px;
  display: flex;
  align-items: center;
  position: relative;
  .container-custom{
    @media (min-width: 1440px) {
      .col-lg-2{
        &.left-column{
          width: 239px !important;
          
        }
      }
      .col-lg-7{
        &.middle_column{
          width:710px !important;
          .wellcome_message{
            margin-left: 40px;
          }
        }
      }
      .col-lg-3{
        &.right-column{
          width: 21.8% !important;
        }
      }
    }
  }
  @media (max-width: 992px) {
    padding-top: 7px;
    margin-bottom: 25px;
    }
    .custom-border{
      &::after{
        @media (min-width: 992px) {
          content: "";
          position: absolute;
          bottom: -23px;
          right: 0;
          width: 1px;
          height: 72px;
          background-color: #e9ecef;
          
        }
      }
    }
   
  .alt_bdb_header_search {
    input {
      border-radius: 25px;
      padding: 6px 11px 6px 35px;
      width: 150px;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 49%;
      left: 7px;
      transform: translateY(-50%);
      &:focus {
        outline: none;
      }
    }
  }
  .alt_bdb_plus_icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
.alt_bdb_avatar {
  button {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
  }
}

.user-role{
 @media (min-width: 992px) {
   position: absolute;
   top: 25px;
   left: 0;
 }
}
.main_section{
    .container-custom{
    @media (min-width: 1440px) {
      .col-lg-2{
        &.left-column{
          width: 239px !important;
          flex-shrink: 0;
        }
      }
      .col-lg-7{
        &.middle_column{
          width:710px !important;
          padding-left: 0;
          padding-right: 0;
          margin-left: 40px;
          margin-right: 48px;
        }
      } 
      .col-lg-10{
        &.middle_column{
          width: 81.55555% !important;
        }
      }
      .col-lg-3{
        &.right-column{
          
          width: 342px !important;
          aside{
            width: 342px !important;
          }
        }
      }
    }
    
  }
}
// dropdown profile menu section

.profile_menu_section {
  padding: 20px;
  width: 302px;
}
.profile_menu {
  padding-bottom: 16px;
  .profile_image {
    img {
      width: 71px;
      height: 71px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .profile_details {
    h2 {
      font-size: 20px;
      font-weight: 600;
      font-family: var(--bs-body-font-family);
      color: #1f1f1f;
    }
    h4 {
      font-size: 12px;
      font-weight: 600;
      font-family: var(--bs-body-font-family);
      color: #808080;
      margin-top: 4px;
      margin-bottom: 8px;
    }
    .solopreneur {
      img {
        width: 18px;
        height: 18px;
        background-color: black;
        border-radius: 50%;
      }
      span {
        font-size: 12px;
        font-weight: 500;
        font-family: var(--bs-body-font-family);
        color: #1e1e1e;
      }
    }
  }
}
.referal_friend_card {
  margin-top: 16px;
  background-color: #f8ede5;
  padding: 16px;
  border-radius: 8px;
  background-image: url("../../assets/images/freelance-dashboard/icons/starts.svg");
  background-position: top 10px right 11px;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  h3 {
    font-weight: 600;
    font-size: 14px;
    font-family: var(--bs-heading-font-family);
    color: var(--alt-text-clr);
    margin-bottom: 6px;
  }
  p {
    font-weight: 500;
    font-family: var(--bs-body-font-family);
    font-size: 12px;
    color: var(--alt-text-clr);
  }
}
// dropdown profile menu section end
// notification section start
.offcanvas.offcanvas-end.notification_canvas_wrapper {
  width: 580px !important;
}
.notification_icon {
  button {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
  }
}
.notification_title {
  font-weight: 600;
  font-size: 20px;
  font-family: var(--bs-heading-font-family);
}
.notification_menu ul li {
  display: inline-block;
  margin-right: 28px;
  &:last-child {
    margin-right: 0;
  }
}
.notification_menu ul li button {
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--alt-text-clr);
}
.notification_menu ul li button.active {
  color: black !important;
  font-weight: 600;
}
.notification_menu ul li button.active::after {
  content: "";
  border-bottom: 3px solid black;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 5px 5px 0 0;
}
.notification_tab_content {
  h2 {
    color: #5c5e63;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 16px 24px;
  }
  .profile_avater {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: start;
    align-items: start;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      line-height: 32px;
      text-align: center;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      color: #212229;
      font-family: var(--bs-body-font-family);
    }
  }
  .time {
    font-size: 12px;
    color: var(--alt-text-clr);
    font-weight: 500;
    font-family: var(--bs-body-font-family);
  }
  .dots {
    color: #232529;
  }
  .notification_buttons {
    a {
      font-size: 14px;
      font-weight: 500;
      color: var(--alt-text-clr);
      font-family: var(--bs-body-font-family);
      text-decoration: underline;
      &:hover {
        color: var(--alt-text-clr);
      }
    }
  }
  .single_notification {
    padding: 16px 24px;
    background-color: #ffffff;
  }
  .single_notification.unread {
    background-color: var(--alt-gray-bg-color);
  }
}
// notification section end
.mobile_canvas {
  .alt_bdb_plus_icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

// side bar
.alt_bdb_sidebar {
  ul {
    li {
      &.active{
        .alt_dbd_menu_icon {
          background-color: var(--alt-primary) !important;
        }
      }
      a {
        .alt_dbd_menu_icon {
          width: 32px;
          height: 32px;
          line-height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          text-align: center;
          border-radius: 10px;
          background-color: var(--alt-gray-bg-color);
          padding: 7px;
          transition: ease-in-out 0.3s;
        }
        img {
          width: 100%;
          height: 100%;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: var(--alt-text-clr);
          font-family: var(--bs-body-font-family);
        }
        &:hover {
          span {
            color: var(--alt-primary) !important;
          }
          .alt_dbd_menu_icon {
            background-color: var(--alt-primary) !important;
          }
        }
        &.active {
          span {
            color: var(--alt-gold) !important;
          }
          .alt_dbd_menu_icon {
            background-color: var(--alt-gold) !important;
          }
        }
      }
    }
  }
}

.sidebar_wizard {
  height: 200px;
  &.wizard_bg {
    background-image: url("../../assets/images/business-dashboard/Ribbon-3.svg");
    background-position: top left 21%;
    background-size: 63%;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--alt-text-clr);
    font-family: var(--bs-body-font-family);
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: #5c5e63;
    font-family: var(--bs-body-font-family);
    padding-top: 15px;
    padding-bottom: 10px;
  }
  a {
    font-size: 14px;
    font-weight: 500;
    color: var(--alt-text-clr);
    font-family: var(--bs-body-font-family);
    display: inline-block;
    transition: ease-in-out 0.3s;
    &:hover {
      color: var(--alt-primary);
      text-decoration: underline;
    }
  }
}

.alt_bdb_promo {
  padding: 32px;
  border-radius: 16px;
  background-color: var(--alt-gray-bg-color);
  @media (max-width: 576px) {
    height: 388px;
  }
  &.promo_bg {
    background-image: url("../../assets/images/business-dashboard/alt_bdb_promo-bg.png");
    background-position: bottom right;
    background-size: 39%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: ease-in-out 0.3s;
    @media (max-width: 576px) {
      background-position: bottom center;
      background-size: 45%;
    }
  }
  h3 {
    font-size: 28px;
    font-family: var(--bs-heading-font-family);
    font-weight: 700;
    color: var(--alt-text-clr);
    @media (max-width: 576px) {
      font-size: 24px;
    }
  }
  p {
    font-size: 14px;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    color: #595959;
    padding-top: 12px;
    padding-bottom: 20px;
    @media (max-width: 576px) {
      font-size: 13px;
    }
  }
  a {
    font-size: 14px;
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    color: var(--alt-text-clr);
    background-color: var(--alt-primary);
    &:hover {
      color: var(--alt-text-clr);
    }
    @media (max-width: 576px) {
      font-size: 13px;
    }
  }
}

.priject_details_section_title {
  padding-bottom: 20px;
  h3 {
    font-weight: 700;
    font-size: 16px;
    font-family: var(--bs-heading-font-family);
    color: var(--alt-text-clr);
    @media (min-width: 576px) {
      font-size: 20px;
    }
  }
  a {
    font-size: 14px;
    font-weight: 500;
    color: var(--alt-text-clr);
    font-family: var(--bs-body-font-family);
    display: inline-block;
    transition: ease-in-out 0.3s;
    text-transform: capitalize;
    &:hover {
      color: var(--alt-primary);
    }
  }
}

.projects_lists {
  background-color: #f9f9f9;
  padding: 16px;
  h4 {
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--alt-text-clr);
    @media (min-width: 576px) {
      font-size: 16px;
    }
  }

  .alt_bdb_badge {
    background-color: #ecedf0;
    color: black;
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    font-size: 12px;
    padding: 4px 10px;
  }
  a {
    font-size: 14px;
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    color: var(--alt-text-clr);
    background-color: var(--alt-primary);
    &:hover {
      color: var(--alt-text-clr);
    }
    @media (max-width: 576px) {
      font-size: 13px;
    }
  }

  .project_owner {
    .project_list_avater {
      img {
        width: 32px;
        height: 32px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 50%;
        object-fit: cover;
      }
      h5 {
        font-weight: 500;
        font-family: var(--bs-body-font-family);
        font-size: 16px;
        color: var(--alt-text-clr);
      }
    }
    .milestone {
      h5 {
        font-family: var(--bs-body-font-family);
        font-weight: normal;
        font-size: 14px;
        color: #595959;
      }
    }
    .time {
      span {
        font-family: var(--bs-body-font-family);
        font-weight: normal;
        font-size: 14px;
        color: #595959;
      }
    }
    .dots {
      display: flex;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ecedf0;
    }
  }
}

// dark project list
.projects_lists.dark_theme {
  background-color: #161d3b;
  .prokect_title {
    h4 {
      font-family: var(--bs-body-font-family);
      color: white;
    }
    .alt_bdb_badge {
      background-color: #29304d;
      color: #ffffff;
    }
  }

  .project_owner {
    .project_list_avater {
      h5 {
        color: #ffffff;
      }
    }
    .milestone {
      h5 {
        color: #ffffff;
      }
    }
    .time {
      span {
        color: #ffffff;
      }
    }
    .dots {
      background-color: #ecedf0;
    }
  }
}

// tranding people section
.telant_content_wrapper {
  background-color: #f9f9f9;
  border-radius: 16px;

  .talent_content {
    padding: 24px;
    .ratting {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 10px;
      right: 10px;
      line-height: 23px;
      background-color: #f3f3f3;
      text-align: center;
    }
    .talent_img {
      width: 60px;
      height: 60px;
      line-height: 74px;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        flex-shrink: 1;
      }
    }
    h3 {
      font-family: var(--bs-body-font-family);
      font-size: 16px !important;
      font-weight: 700;
      color: #232529 !important;
      line-height: 24px;
    }
    h4 {
      font-family: var(--bs-body-font-family);
      font-size: 14px !important;
      font-weight: 400;
      color: #5C5E63 !important;
      line-height: 22.4px;
    }
   
    .rising_start {
      button {
        background-color: #161d3b;
        font-size: 12px !important;
        font-weight: 600;
        padding: 4px 8px;
        span{
          left: -4px;
        }
      }
    }
    .review {
      color: var(--alt-gray-dark);

      .star {
        color: var(--alt-gold);
      }
      
    }
  }

  .telent_bg {
    padding: 10px;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.referal_card {
  background-image: url(../../assets/images/business-dashboard/refer-bg.svg),
    url(../../assets/images/business-dashboard/dots.png),
    url(../../assets/images/business-dashboard/dots-yellow.svg);
  background-position: bottom right, top 13% right 22%, top 28% right 35%;
  padding: 24px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-color: var(--alt-gray-bg-color);
  padding: 24px;
  border-radius: 16px;
  background-attachment: scroll;
  background-size: auto;
  h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--bs-heading-font-family);
    color: var(--alt-text-clr);
  }
  p {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
    color: var(--alt-text-clr);
    padding-top: 8px;
    padding-bottom: 20px;
  }
  button {
    border: 1px solid #cacaca;
  }
  a {
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--alt-text-clr);
    text-decoration: underline;
  }
}

.update_lists {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 16px;

  .update_single_list {
    p {
      font-weight: 500;
      font-family: var(--bs-body-font-family);
      font-size: 16px;
      color: var(--alt-text-clr);
    }
    span {
      font-size: 12px;
      color: var(--alt-text-clr);
    }
    .update_badge {
      background-color: #ecedf0;
      padding: 4px 10px;
      font-size: 12px;
      font-weight: 600;
      font-family: var(--bs-body-font-family);
      color: var(--alt-text-clr);
      border-radius: 25px;
    }
  }

  .single_lists {
    .update_badge {
      background-color: #ecedf0;
      padding: 4px 10px;
      font-size: 12px;
      font-weight: 600;
      font-family: var(--bs-body-font-family);
      color: var(--alt-text-clr);
      border-radius: 25px;
    }
    .time {
      font-size: 12px;
    }
    .single_lists_title {
      p {
        font-size: 16px;
        font-weight: 500;
        font-family: var(--bs-body-font-family);
        color: var(--alt-text-clr);
      }
    }

    .clients_timeline {
      .avatar {
        img {
          width: 32px;
          height: 32px;
          line-height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 50%;
          object-fit: cover;
        }
        h5 {
          font-weight: 500;
          font-family: var(--bs-body-font-family);
          font-size: 14px;
          color: var(--alt-text-clr);
        }
      }
      .dots {
        display: flex;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ecedf0;
      }
      .closing_time {
        p {
          font-family: var(--bs-body-font-family);
          font-weight: normal;
          font-size: 10px;
          color: #595959;
        }
      }
    }
  }
}
