.freelancer_count{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #595959;
}

.freelancer_display_btn{
    border: 1px solid #d9d9d9;
    padding: 3px;
    border-radius: 4px;
    .active{
        border: 1px solid #d9d9d9;
        
        border-radius: 4px;
    }
    button{
        position: relative;
        border: none;
        background-color: transparent;
    }
    .horizontal{}
    .vertical{
        transform:  rotate(90deg);
    }
}

.freelancers_display_type{
    &:not(.active){
        display: none;
    }
}